// sets

$gl-ms  : "screen and (max-width: 23.5em)";    // up to 360px
$gl-xs  : "screen and (max-width: 35.5em)";    // up to 568px
$gl-sm  : "screen and (max-width: 48em)";      // max 768px
$gl-md  : "screen and (max-width: 64em)";      // max 1024px
$gl-lg  : "screen and (max-width: 80em)";      // max 1280px

// table style

table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:60px;
    background:#E8F0FE;
    font-size:20px;
    color: #202F61
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


@media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"Currency code";}
        &:nth-child(2):before { content:"National currency code";}
        &:nth-child(3):before { content:"Purchase rate";}
        &:nth-child(4):before { content:"ales rate";}
      }        
    }
  }
}  	

.myHeader {
  padding: 50px 100px 25px 100px;
  text-align: center;
  font-size: 42px;
  color: #202F61;
}

.subheader {
  padding: 20px 0 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
 }
