<h2> New airline was created </h2>
<hr/>
<p> Congratulatins! You are seccesfuly created new airline with name: <%= @airline.name %>. </p>
<p> Owner is you (<%= @airline.user.first_name %> <%= @airline.user.last_name %>). </p>
<p> This airline registered in <%= @airline.country %>. </p>
<p> Thank you for your choise.</p>
<br/>
<p> Have a good day! </p>
